<h2>{{ 'title.person.read' | translate }}</h2>
<hr />
<form id="unused" action="#">
    <div *ngIf="person">
        <div>
            <label>{{ 'person.name' | translate }}</label> 
            <p>{{person.name}}</p>
        </div>
        <h3>Address</h3>
        <div>
            <label>{{ 'person.zipcode' | translate }}</label> 
            <p>{{person.zipcode}}</p>
        </div>
        <div>
            <label>{{ 'person.emailpersonal' | translate }}</label>
            <p>{{person.emailpersonal}}</p>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="close()">{{ 'button.back' | translate }}</button>
</form>