<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>{{ 'title.person.list' | translate }}</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped dataList">
            <caption>person-list</caption>
            <thead>
                <tr>
                    <th class="display-full">{{ 'person.id' | translate }}</th>
                    <th>{{ 'person.name' | translate }}</th>
                    <th class="text-center display-full">{{ 'person.phonemobile' | translate }}</th>
                    <th class="display-full">{{ 'person.emailpersonal' | translate }}</th>
                    <th class="display-full">{{ 'person.city' | translate }}</th>
                    <th class="text-center">{{ 'button.delete' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of persons | async" (click)="update(person.id)">
                    <td class="display-full">{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td class="text-center display-full">{{ person.phonemobile }}</td>
                    <td class="display-full">{{ person.emailpersonal }}</td>
                    <td class="display-full">{{ person.city }}</td>
                    <td class="text-center">
                        <button type="button" (click)="delete(person.id)" class="btn-delete btn-danger">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>