<h2>{{ 'title.person.create' | translate }}</h2>
<form (ngSubmit)="onSubmit()">
    <!-- Basic data -->
    <div class="form-group">
        <label for="name">{{ 'person.name' | translate }}</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="person.name" />
    </div>
    <!-- Address -->
    <h4>{{ 'title.address' | translate }}</h4>




    <div class="form-group">
        <label for="zipcode">{{ 'person.zipcode' | translate }}</label>
        <input type="text" class="form-control" id="zipcode" name="zipcode" required [(ngModel)]="person.zipcode" />
    </div>

    


    <div class="form-group">
        <label for="zipcode">{{ 'person.zipcode' | translate }}</label>
        <input type="text" class="form-control" id="zipcode" name="zipcode" required [(ngModel)]="person.zipcode" />
    </div>
    <div class="form-group">
        <label for="street">{{ 'person.street' | translate }}</label>
        <input type="text" class="form-control" id="street" name="street" required [(ngModel)]="person.street" />
    </div>
    <div class="form-group">
        <label for="number">{{ 'person.number' | translate }}</label>
        <input type="text" class="form-control" id="number" name="number" required [(ngModel)]="person.number" />
    </div>
    <div class="form-group">
        <label for="district">{{ 'person.district' | translate }}</label>
        <input type="text" class="form-control" id="district" name="district" required [(ngModel)]="person.district" />
    </div>
    <div class="form-group">
        <label for="city">{{ 'person.city' | translate }}</label>
        <input type="text" class="form-control" id="city" name="city" required [(ngModel)]="person.city" />
    </div>
    <!-- Contacts -->
    <h4>{{ 'title.contacts' | translate }}</h4>
    <div class="form-group">
        <label for="emailpersonal">{{ 'person.emailpersonal' | translate }}</label>
        <input type="text" class="form-control" id="emailpersonal" name="emailpersonal"
            [(ngModel)]="person.emailpersonal" />
    </div>
    <div class="form-group">
        <label for="emailwork">{{ 'person.emailwork' | translate }}</label>
        <input type="text" class="form-control" id="emailwork" name="emailwork" [(ngModel)]="person.emailwork" />
    </div>
    <div class="form-group">
        <label for="phonehome">{{ 'person.phonehome' | translate }}</label>
        <input type="text" class="form-control" id="phonehome" name="phonehome" [(ngModel)]="person.phonehome" />
    </div>
    <div class="form-group">
        <label for="phonemobile">{{ 'person.phonemobile' | translate }}</label>
        <input type="text" class="form-control" id="phonemobile" name="phonemobile" [(ngModel)]="person.phonemobile" />
    </div>
    <div class="form-group">
        <label for="phonework">{{ 'person.phonework' | translate }}</label>
        <input type="text" class="form-control" id="phonework" name="phonework" [(ngModel)]="person.phonework" />
    </div>
    <!-- Button Bar -->
    <div class="button-bar">
        <button type="submit" class="btn btn-success">{{ 'button.save' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="close()">{{ 'button.back' | translate }}</button>
    </div>
</form>